@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Quicksand&family=VT323&display=swap");

html,
body {
  /* margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  overflow: hidden; */
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #121111; */
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}

button {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  border-color: rgb(193, 193, 193);
  background-color: #000000;
  color: white;
  font-size: 12pt;
  margin: 20px;
}

button:hover {
  border-color: white;
  color: rgb(222, 222, 222);
  background-color: rgb(22, 26, 40);
  transition-duration: 0.7s;
  cursor: pointer;
}

button:active {
  transform: translate(4px, 4px);
}

p {
  font-size: 12pt;
  text-align: center;
}

h1 {
  font-size: 13pt;
}

h2 {
  font-size: 13pt;
}

#canvas-container {
  border: 2px solid #ffffff00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.05;
  z-index: -1;
}

b {
  color: rgb(98, 98, 255);
}
